@model Darts.Models.Match

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeOfGame" class="control-label"></label>
                <input asp-for="TypeOfGame" class="form-control" />
                <span asp-validation-for="TypeOfGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrOfPlayers" class="control-label"></label>
                <input asp-for="NrOfPlayers" class="form-control" />
                <span asp-validation-for="NrOfPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrOfSets" class="control-label"></label>
                <input asp-for="NrOfSets" class="form-control" />
                <span asp-validation-for="NrOfSets" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
