@model Darts.Models.Match

@{
    ViewData["Title"] = "Darts";
}

<h2>Setup a match</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameTypeList" class="control-label"></label>
                <br />
                <div class="btn-group" role="group" data-toggle="buttons" aria-label="Game type">
                @foreach (var item in Model.GameTypeList) {
                    @if (item.Text.Equals("501")) {
                        <label class="btn btn-default btn-lg active">
                            <input type="radio"> @item.Text
                        </label>
                    }
                    else {
                        <label class="btn btn-default btn-lg">
                            <input type="radio"> @item.Text
                        </label>
                    }
                }
                </div>
                <span asp-validation-for="GameTypeList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrOfSets" class="control-label"></label>
                <input asp-for="NrOfSets" class="form-control" />
                <span asp-validation-for="NrOfSets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrOfLegs" class="control-label"></label>
                <input asp-for="NrOfLegs" class="form-control" />
                <span asp-validation-for="NrOfLegs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrOfPlayers" class="control-label"></label>
                <div class="btn-group" role="group" data-toggle="buttons" aria-label="Number of players">
                    <label class="btn btn-default btn-lg active">
                        <input type="radio"><span class="glyphicon glyphicon-user"></span> 1 player
                    </label>
                    <label class="btn btn-default btn-lg">
                        <input type="radio"><span class="glyphicon glyphicon-user"></span> 2 player
                    </label>
                </div>
                <span asp-validation-for="NrOfPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerList" class="control-label"></label>
                <select asp-for="PlayerList" asp-items="@Model.PlayerList" class="form-control"></select>
                <span asp-validation-for="PlayerList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="btn-group" role="group" data-toggle="buttons" aria-label="Number of players">
            <label class="btn btn-default btn-lg active">
                <input type="radio"><span class="glyphicon glyphicon-user"></span> 1 player
            </label>
            <label class="btn btn-default btn-lg">
                <input type="radio"><span class="glyphicon glyphicon-user"></span> 2 player
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="btn-group" role="group" data-toggle="buttons" aria-label="Game type">
            <label class="btn btn-default btn-lg">
                <input type="radio"> 301
            </label>
            <label class="btn btn-default btn-lg active">
                <input type="radio"> 501
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="btn-group" role="group" data-toggle="buttons" aria-label="Number of sets">
            <label class="btn btn-default btn-lg active">
                <input type="radio"> 1
            </label>
            <label class="btn btn-default btn-lg">
                <input type="radio"> 2
            </label>
            <label class="btn btn-default btn-lg">
                <input type="radio"> 3
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="btn-group" role="group" data-toggle="buttons" aria-label="Number of legs">
            <label class="btn btn-default btn-lg active">
                <input type="radio"> 1
            </label>
            <label class="btn btn-default btn-lg">
                <input type="radio"> 3
            </label>
            <label class="btn btn-default btn-lg">
                <input type="radio"> 5
            </label>
            <label class="btn btn-default btn-lg">
                <input type="radio"> 7
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 align-self-end">
        <a asp-action="Create" class="btn btn-primary btn-lg">Create match</a>
    </div>
    <div class="col-sm-6 align-self-start">
        <button type="button" class="btn btn-warning btn-lg">Reset selection</button>
    </div>
</div>


<!--button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "Match")'">Test</!--button>
<button type="button" class="btn btn-secondary btn-lg"><a asp-area="" asp-controller="Players" asp-action="Index">Players</a></!--button>
<button type="button" class="btn btn-secondary btn-lg">Statistics</button-->
